openapi: 3.2.0
info:
  title: EHRbase Admin - Stored-Query API
  description: 'EHRbase implements the official openEHR REST API. Additionally, EHRbase provides a custom `status` heartbeat endpoint, an Admin API (if activated) and a Status and Metrics API (if activated) for monitoring and maintenance. Note: The openEHR REST API is documented in their official documentation, not here. Please refer to their separate documentation.'
  license:
    name: Apache 2.0
    url: https://github.com/ehrbase/ehrbase/blob/develop/LICENSE.md
  version: v1
servers:
- url: https://sandkiste.ehrbase.org/ehrbase
  description: Generated server url
tags:
- name: Admin - Stored-Query
paths:
  /rest/admin/query/{qualified_query_name}/{version}:
    delete:
      tags:
      - Admin - Stored-Query
      operationId: deleteStoredQuery
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: qualified_query_name
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stored-Query has been deleted successfully
        '401':
          description: Client credentials are invalid or have expired.
        '403':
          description: Client has no permission to access since admin role is missing.
        '404':
          description: Stored-Query could not be found.
      summary: Delete stored query
      x-summary-source: derived
externalDocs:
  description: EHRbase Documentation
  url: https://docs.ehrbase.org/
